html {
  box-sizing: border-box;
  font-family: Georgia, serif;
  text-align: center;
  line-height: 1.5;
  color: #2f2d13;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
}

header {
  background-color: #ffe500;
  padding: 0 .75em;
}

body {
  background-color: #fff;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

footer {
  background-color: #ffe500;
  padding: .75em;
}

h1 {
  font-family: "Sigmar One", sans-serif;
  color: #b20953;
  font-size: 3rem;
}

h2 {
  font-family: "Sigmar One", sans-serif;
  color: #b20953;
  font-size: 1.875rem;
  margin: .3em;
  padding: .5em 0;
  text-align: left;
}

img {
  display: block;
  width: 100%;
  padding: 0 .75em;
}

p {
  padding: .75em;
  text-align: left;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
  margin: 0 0 .6em;
}

nav a {
  display: inline-block;
  margin: -.075em;
  padding: .25em .5em;
  background-color: #b2a212;
  border-radius: 4px;
  color: #fff;
  font-size: 1.125rem;
  text-decoration: none;
}

nav .current {
  background-color: #b20953;
}

a:hover {
  background-color: #cc1465;
}
